{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">
<title>About Us</title>
{% endblock %}

{% block body %}
<a href="/" class="back-button">Back</a>

<div class="about-container">
    <div class="about-section">
        <div class="intro">
            <h1>About PathCoder</h1>
            <p>PathCoder is a personalized coding learning roadmap platform designed to help developers chart their unique coding journey. Whether you're just starting out or looking to sharpen your skills, PathCoder offers a tailored approach to help you succeed.</p>
        </div>

        <div class="features">
            <h2>Key Features</h2>
            <ul>
                <li><strong>Personalized Roadmap:</strong> Custom and Unique learning paths based on your experience level and coding preferences.</li>
                <li><strong>Task Management:</strong> Track and manage coding tasks in an intuitive to-do list system.</li>
                <li><strong>Discussion Room:</strong> Ask questions and chat with fellow users.</li>
                <li><strong>Leaderboard:</strong> To add a competitive edge and keep users motivated.</li>
            </ul>
        </div>

        <div class="developer-info">
            <h2>About the Developer</h2>
            <div class="developer-details">
                <img src="{{ url_for('static', filename='me.jpg') }}" alt="Bhavya Soni">
                <div class="bio">
                    <h3>Bhavya Soni</h3>
                    <p><strong>AI Practitioner and Game Developer</strong> with experience in Python, Unity, and Game Development. Currently pursuing BCA at Amity University Rajasthan, I've worked on various projects including AI based apps and Games.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
